<%= link_to "Wikinimous", articles_path %>
<%= link_to "Create Article", articles_new_path %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h3><%= link_to "#{article.title}", article_path(article) %></h3>
      <p><%= article.content %></p>
    </li>
  <% end %>
</ul>
